.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: -30vh;
  color: white;
  text-shadow: 2px 5px 2px rgba(0, 0, 0, 0.5);
}
button {
  background-color: #fffcdc;
  border-radius: 20px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-family: "Title";
  height: 50px;
}
