.header {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.title-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url("/images/titleBackground.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  z-index: -1;
}


.eyeImg {
  background-image: url("/images/eye.png");
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
  background-size: contain;
  position: relative;
  width: 100vw;
}
.rules{
    color: white;
}

.scoreboard {
  background-color: rgba(102, 102, 102, 0.685);
  color: wheat;
  text-align: center;
  border-radius: 5%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  max-width: 200px;
  align-self: center;
}
.highscoreDisplay {
  padding-right: 10px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
p {
  font-size: 1.4em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
