@font-face {
  font-family: "Title";
  src: url("/fonts/Yu-Gi-Oh! Matrix Regular Small Caps 2.ttf")
    format("truetype");

  font-family: "Header";
  src: url("/fonts/Yu-Gi-Oh! ITC Stone Serif Small Caps Bold.ttf")
    format("truetype");
  font-family: "Text";
  src: url("/fonts/Yu-Gi-Oh! ITC Stone Serif LT Italic.ttf") format("truetype");
}

* {
  font-family: "Header";
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: auto;
  background-color: black;
  background-image: url("/images/backgroundImg.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  max-width: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

/* Media query for screens smaller than 800px */
@media screen and (max-width: 800px) {
  .main {
    gap: 40px;
    grid-template-columns: repeat(
      2,
      minmax(100px, 1fr)
    ); 
  }
  .card-full {
    scale: 0.9;
  }
}
